<div class="ig-board">
  <div class="ig-wrapper">

    <!-- supply piles -->
    <div class="ig-supplies">
      <div class="ig-kingdom">
        <ul class="ig-kingdom-cards">
          <li ng-repeat='costGroup in cards.kingdomCards' class="ig-kingdom-card-group">
            <ul>
              <li class="ig-kingdom-card" ng-repeat='card in costGroup'>
                <div class="ig-left">
                  <h3>{{card.name}}</h3>
                  <p>{{card.text}}</p>
                </div>
                <div class="ig-icon"></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="ig-default">

      </div>
    </div>


    <!-- user actions -->
    <div class="ig-right">

      <div class="ig-log">

      </div>

      <div class="ig-actions">

      </div>

      <div class="ig-hand">

      </div>

    </div>

  </div>
</div>
