@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

.ig-wrapper{
  font-family: 'Noto Sans', sans-serif !important;
}

.ig-wrapper h2{
  text-align:center;
}

.ig-wrapper li, .ig-wrapper ul{
  list-style:none;
  padding:0;
}

.ig-board{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:lightgrey;
}

.ig-supplies{
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  bottom:10px;
  background:cyan;
}

.ig-kingdom-card{
  display:inline-block;
  width:100%;
  background:lime;
  margin:1px;
}

.ig-kingdom-card .ig-left{
  width:85%;
  display:inline-block;
  min-height:50px;
}

.ig-kingdom-card .ig-icon{
  float:right;
  width:14%;
  height:30px;
  background:black;
}

.ig-kingdom-card h3{
  font-size:12px;
  margin:0px;
  text-align:right;
  padding-right:30px;
}

.ig-kingdom-card p{
  white-space:pre-wrap;
  font-size:10px;
  margin:1px;
  font-style:italic;
  width:80%;
  text-align:center;
}

.ig-kingdom-card-group{
  border-bottom:1px solid rgba(0,0,0,0.5);
}
.ig-kingdom-card-group:last-child{
  border:none;
}

.ig-card-info{
  float:right;
  margin-top:-20px;
  font-size:11px;
}
