@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

.ig-wrapper{
  font-family: 'Noto Sans', sans-serif !important;
}

.ig-wrapper h2{
  text-align:center;
}

.ig-board{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:lightgrey;
}

.ig-supplies{
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  bottom:10px;
  background:cyan;
}
